<p>
    <strong>First name:</strong>
    <%= @article.first_name %>
</p>

<p>
    <strong>Last name:</strong>
    <%= @article.last_name %>
</p>

<p>
    <strong>Homepage: </strong>
    <%= @article.homepage %>
</p>
